/* * {
  display: block;
} */

p {
  color: #F8F9F5;
  font-style: italic;
  font-family: cursive;
}

body {
  background-color: #D9D9D9;
}

.card-body {
  background-color: #283138;
  border-radius: 15;
  border-spacing: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 13%
}

.header {
  /* border-style: solid; */
  /* position: relative; */
}

#header {
  text-align: center;
}


.userGraphs {
  margin-top: auto;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.userGraphCard {
  background-color: #283138;
  border-radius: 15;
  border-spacing: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 13%
}

.layout-content {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #0F1418;
}

#start-stats {
  max-width: 100em;
}

#someGraph1 {
  background-color: #283138;
  border-radius: 15;
  border-spacing: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 13%
}


#someGraph2 {
  background-color: #283138;
  border-radius: 15;
  border-spacing: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 13%
}

#someGraph3 {
  background-color: #283138;
  border-radius: 15;
  border-spacing: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 13%
}

.userInput {
  max-width: 75em;
}

#search {
  margin-top: 15%;  
}


.bike {
  background-color: gray;
  margin: 10px;
  padding: 10px;
}
